includes:
  - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
  phpVersion: 80200
  level: 8
  paths:
    - Classes
  bootstrapFiles:
    - .Build/vendor/autoload.php
  checkMissingIterableValueType: false
